.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

button {
  background-color: #1EA32C;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#post-list {
  margin-top: 20px;
}

.navbar {
  background-color: #1EA32C;
  padding: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  margin-right: 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
}

.navbar ul li a:hover {
  background-color: #1EA32C;
}