<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="./static/Home.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forum</title>
    </head>

    <body>
    </Header>
    <nav class="navbar">
      <ul>
        <li><a href="Home.tmpl">Acceuil</a></li>
        <li><a href="post.html">Post</a></li>
        <li><a href="Highlights.html">Highlights</a></li>
        <li><a href="Utilisateur.html">Utilisateur</a></li>
        <a href="/signUp">Connection</a>
        <a href="/signIn">Crée un compte</a>
      </ul>
    </nav>
    <div class="container">
      <h1>Publier un message</h1>
      <form id="post-form">
        <textarea id="post-content" placeholder="Écrivez votre message ici"></textarea>
        <button type="submit">Publier</button>
      </form>
      <div id="post-list"></div>
    </div>
    <script src="script.js"></script>
</body>
<body>
</html>